.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.instructions {
  text-align: center;
  padding: 0 20px;
}

.instructions p {
  margin-bottom: 0;
}

.game {
  max-width: 80vw;
  max-height: calc(100vh - 250px);
}